{% load analytical %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% analytical_head_top %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>napkins</title>
        <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/qurse.css" rel="stylesheet">
        {% analytical_head_bottom %}
    </head>
    <body>
        {% analytical_body_top %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
        </script>
        <script src="/static/js/bootstrap.min.js"></script>
        <header class="navbar navbar-static-top" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="../" class="navbar-brand">Napkins</a>
            </div>
            <nav class="collapse navbar-collapse navbar-collapse" role="navigation" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about">About</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-content" id="content" role="main">
            <div id="container" >
                <div id="content">
                    <div class="contents">
                        <div id="main" style="padding-left:25px;" align="center">
                            <form action="/coverletter/" method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    {% if field.value %}
                                        <textarea class="form-control" style="border-bottom: 1px dotted #777; height:300px; width:500px;" type="text" name="{{ field.name }}" id="{{ field.id_for_label }}" placeholder="{{ field.label }}">{{ field.value }}</textarea>
                                    {% else %}
                                        <textarea class="form-control" style="border-bottom: 1px dotted #777; height:300px; width:500px;" type="text" name="{{ field.name }}" id="{{ field.id_for_label }}"> Enter coverletter here!</textarea>
                                    {% endif %}
                                {% endfor %}
                                <p style="font-size:13px;color:#777;">Note: Reference a specific company as '[company]'<br>for example: Hello [company], my name is... --> Hello Google, name is... </p>
                                <div style="width: 100%; margin-top: 20px;">
                                    <input type="submit" style="width: 100px !important" class="button-table" value="Update" />
                                </div>
                            </form>
                        </div>



                    </div>
                </div>
            </div>
        </main>
        {% analytical_body_bottom %}
    </body>
</html>
