{% load analytical %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% analytical_head_top %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>napkins</title>
        <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/qurse.css" rel="stylesheet">
        {% analytical_head_bottom %}
    </head>
    <body>
        {% analytical_body_top %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
        </script>
        <script src="/static/js/bootstrap.min.js"></script>
        <header class="navbar navbar-static-top" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="../" class="navbar-brand">Napkins</a>
            </div>
            <nav class="collapse navbar-collapse navbar-collapse" role="navigation" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about">About</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li class="hidden-sm hidden-md hidden-lg"><a href="/search">Search</a></li>
                    <li class="hidden-sm hidden-md hidden-lg"><a href="/history">History</a></li>
                    <li class="hidden-sm hidden-md hidden-lg"><a href="/profile">Profile</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-content" id="content" role="main">
            <div id="container">
                <div id="content">
                    <div class="contents">
                        <aside id="sidebar">
                            <ul>
                                <li>
                                    <a href="/search">Search</a>
                                </li>
                                <li class="current">
                                    <a href="/history">History</a>
                                </li>
                                <li>
                                    <a href="/profile">Profile</a>
                                </li>
                            </ul>
                        </aside>
                        <div id="main" style="max-width: 600px;">
                            <table class="listing">
                                <thead>
                                    <tr>
                                        <th>Date</th>     
                                        <th>Company</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
								{% for app in apps %}
									<tr>
                                        <td style="width: 33%; overflow: hidden">{{app.date}}</td>
                                        <td style="width: 33%; overflow: hidden">{{app.company.name}}</td>
                                        <td style="width: 33%; overflow: hidden">{{app.status}}</td>
                                    </tr>
								{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% analytical_body_bottom %}
    </body>
</html>
