{% load analytical %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% analytical_head_top %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>napkins</title>
        <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/qurse.css" rel="stylesheet">
        {% analytical_head_bottom %}
    </head>
    <body>
        {% analytical_body_top %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
        </script>
        <script src="/static/js/bootstrap.min.js"></script>
        <header class="navbar navbar-static-top" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="../" class="navbar-brand">Napkins</a>
            </div>
            <nav class="collapse navbar-collapse navbar-collapse" role="navigation" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about">About</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li class="hidden-sm hidden-md hidden-lg"><a href="/search">Search</a></li>
                    <li class="hidden-sm hidden-md hidden-lg"><a href="/history">History</a></li>
                    <li class="hidden-sm hidden-md hidden-lg"><a href="/profile">Profile</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-content" id="content" role="main">
            <div id="container">
                <div id="content">
                    <div class="contents">
                        <aside id="sidebar">
                            <ul>
                                <li class="current">
                                    <a href="/search">Search</a>
                                </li>
                                <li>
                                    <a href="/history">History</a>
                                </li>
                                <li>
                                    <a href="/profile">Profile</a>
                                </li>
                            </ul>
                        </aside>
                        <div id="main">
                            <div style="margin-bottom:20px; width:600px;">
                                <p style="color:#666; margin-bottom:1px;">Applications left for today: {{ num_apps_left_today }}
                                </p><br/>
                                <button class="button-alternate btn" onclick="share()" style="color: white;">Get additional applications</button>
                            </div>
                            <div style="max-width: 615px; text-align: center">
						    {% for company in companies %}
                                <div style="display: inline-block; margin-bottom: 20px; height:130px; width:100px; padding-left: 15px; padding-right: 15px; text-align: left;">
							        <a href="/company/{{company.id}}" style="margin-right:10px;">
							        <p class="listing" style="overflow:hidden">{{company.name}}</p>
        					        <img style="height:80px; border: 1px solid #ccc; border-radius: 40px; width:70px; height: 70px" src="{{company.img}}"></img>
                                    </a>
                                </div>
                            {% endfor %}
                            </div>
						</div>
                    </div>
                </div>
            </div>
        </main>
        <script>
        function share(){
            FB.init({
                appId      : '471459402927292',
                xfbml      : true,
                version    : 'v2.2'
            });
            FB.ui({
                method: 'send',
                name: 'Napkins',
                link: 'http://napkins.io',
            },
            function(response) {
                if (response) {
                    var xhr = new XMLHttpRequest();
                    xhr.open("GET", "/share/{{user.id}}", true);
                    xhr.send();
                    alert("succeesss");
                }
            });
        };
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        {% analytical_body_bottom %}
    </body>
</html>