<p>tech company internships</p>
{% if user.is_authenticated %}
    <a href="/logout">logout</a>
    <a href="/history">history</a>
{% else %}
    <a href="/signin">signin</a>
    <a href="/signup">signup</a>
{% endif %}
<br>
<br>

<div style="display:block;">
{% for company in companies %}
	<a href="/company/{{company.id}}" target="_blank"><div style="float:left; height:100px; width:120px; display:block;">
		<p>{{company.name}}</p>
        <img style="height:80px;width:120px;" src="{{company.links}}"></img>
	</div></a>
{% endfor %}
</div>

<div style="margin-top:300px;">
	<p>We are too slightly bored Berkeley CS noobs. Tell us what you think about the site. e.g. how to improve, what you like about it (<a href="https://www.facebook.com/jason.xie.5">Jason</a>, <a href="https://www.facebook.com/alex.khodaverdian">Alex</a>)</p>
</div>
