{% load analytical %}
<!DOCTYPE html>
<html lang="en" class="index">
    <head>
        {% analytical_head_top %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>napkins</title>
        <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/qurse.css" rel="stylesheet">
        <style>
            .form-control::-webkit-input-placeholder
            {
                color: #888;
            }
        </style>
        {% analytical_head_bottom %}
    </head>
    <body class="index">
        {% analytical_body_top %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
        </script>
        <script src="/static/js/bootstrap.min.js"></script>
        <header class="navbar navbar-static-top" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="../" class="navbar-brand">Napkins</a>
            </div>
            <nav class="collapse navbar-collapse navbar-collapse" role="navigation" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about">About</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                </ul>
            </nav>
        </header>
        <main class="index" role="main">
            <div class="index-container">
                <p class="lead" style="color: #888 !important">Sign In{{ the_fb_id }}</p>
                <form action="/signin/" method="post">
                {% csrf_token %}
                    {% for field in form %}
                        {% if field.name == "password" %}
                            <input class="form-control signup-field" type="password" name="{{ field.name }}" id="{{ field.id_for_label }}" placeholder="{{ field.label }}">
                        {% elif field.name == "fb_id" %}
                            <input class="form-control signup-field" type="password" name="{{ field.name }}" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" style="display:none" value="{{ the_fb_id }}">
                        {% else %}
                            <input class="form-control signup-field" type="text" name="{{ field.name }}" id="{{ field.id_for_label }}" placeholder="{{ field.label }}">
                        {% endif %}
                    {% endfor %}
                    <input type="submit" class="signup-button btn btn-outline-inverse btn-lg" value="Sign In" />
                </form>
            </div>
        </main>
        <script src="/static/js/index.js"></script>
        {% analytical_body_bottom %}
    </body>
</html>