{% load analytical %}
<!DOCTYPE html>
<html lang="en" class="index">
    <head>
        {% analytical_head_top %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>napkins</title>
        <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/qurse.css" rel="stylesheet">
        <style>
            .form-control::-webkit-input-placeholder
            {
                color: #888;
            }
        </style>
        {% analytical_head_bottom %}
    </head>
    <body class="index">
        {% analytical_body_top %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
        </script>
        <script src="/static/js/bootstrap.min.js"></script>
        <header class="navbar navbar-static-top" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="../" class="navbar-brand">Napkins</a>
            </div>
            <nav class="collapse navbar-collapse navbar-collapse" role="navigation" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about">About</a></li>
                    <li><a href="/signin">Sign In</a></li>
                </ul>
            </nav>
        </header>
        <main class="index" role="main">
            <div class="index-container">
                <p class="lead" style="color: #888 !important">Sign Up</p>

<script>
  function statusChangeCallback(response) {
    if (response.status === 'connected') {
        fb_id = response.authResponse.userID;
        document.getElementById('form').style.visibility="visible";
        document.getElementById('id_fb_id').value = fb_id;

// var my_message = "This is just a test!"; var url = "http://www.sundh.com/"; var title = "This is the name of my post"; var desc = "Optional description of my link"; var picUrl = "http://www.sundh.com/blog/images/led.jpg";
// FB.api("/me/feed", "post", {message:my_message,link:url,name:title,picture:picUrl,description:desc }, 
//     function(response) { 
//         if (!response || response.error) {
//          alert("Error occured"); 
//         } else { 
//             alert("ASDASD"); } });
    } else if (response.status === 'not_authorized') {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1500765426863172',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


<fb:login-button scope="public_profile,email,publish_actions" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>


                <form action="/signup/" method="post" id="form" style="visibility:hidden;">
                {% csrf_token %}
                    {% for field in form %}
                        {% if field.name == "password" %}
                            <input class="form-control signup-field" type="password" name="{{ field.name }}" id="{{ field.id_for_label }}" placeholder="{{ field.label }}">
                        {% elif field.name == "fb_id" %}
                            <input class="form-control signup-field" style="visibility:hidden;" type="password" name="{{ field.name }}" id="{{ field.id_for_label }}" placeholder="{{ field.label }}">
                        {% else %}
                            <input class="form-control signup-field" type="text" name="{{ field.name }}" id="{{ field.id_for_label }}" placeholder="{{ field.label }}">
                        {% endif %}
                    {% endfor %}
                    <input type="submit" class="signup-button btn btn-outline-inverse btn-lg" value="Sign Up" />
                </form>
            </div>
        </main>
        <script src="/static/js/index.js"></script>
        {% analytical_body_bottom %}
    </body>
</html>