{% load analytical %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% analytical_head_top %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>napkins</title>
        <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/qurse.css" rel="stylesheet">
        {% analytical_head_bottom %}
    </head>
    <body>
        {% analytical_body_top %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
        </script>
        <script src="/static/js/bootstrap.min.js"></script>
        <header class="navbar navbar-static-top" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="../../" class="navbar-brand">Napkins</a>
            </div>
            <nav class="collapse navbar-collapse navbar-collapse" role="navigation" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about">About</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li class="hidden-sm hidden-md hidden-lg"><a href="/search">Search</a></li>
                    <li class="hidden-sm hidden-md hidden-lg"><a href="/history">History</a></li>
                    <li class="hidden-sm hidden-md hidden-lg"><a href="/profile">Profile</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-content" id="content" role="main" >
            <div id="container">
                <div id="content">
                    <div class="contents">
                        <script>
function statusChangeCallback(response) {
    if (response.status === 'connected') {
        //make fb login button disappear
        document.getElementById('fb').style.display="None";
        var my_message = "Just applied to {{company.name}} via http://napkins.io/"; 
        // var url = "http://www.sundh.com/";
        var title = "This is the name of my post"; 
        // var desc = "Optional description of my link"; 
        var picUrl = "http://www.sundh.com/blog/images/led.jpg";
        // ,link:url,name:title,picture:picUrl,description:desc
        FB.api("/me/feed", "post", {message:my_message, name:title}, 
        function(response) { 
            if (!response || response.error) {
                console.log("Error occured"); 
            } else { 
                console.log("we did it peps"); } });
    } else if (response.status === 'not_authorized') {
        document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
        document.getElementById('status').innerHTML = 'Please log ' + 'into Facebook.';
    }
  }

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
        });
    }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1500765426863172',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


<div id='fb'>
    <fb:login-button scope="public_profile,email,publish_actions" onlogin="checkLoginState();">
    </fb:login-button>

    <div id="status">
    </div>
</div>

                        <div id="main" style="width:100%; padding-left: 0px; line-height: 2.5em">
                            <p>{{ message }}</p>
                            <p>
                                <a href="/search" class="signup-button btn btn-outline-inverse btn-lg">Back</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% analytical_body_bottom %}
    </body>
</html>